body {
    padding: 10px;
    font-family: sans-serif;
}

.panel,
.lead {
    margin-bottom: 10px;
}
.row {
    padding: 10px;
}

.form {
    text-align: center;
}

.form .input-group {
    margin-left: auto;
    margin-right: auto;
}

.form > .radiobox {
    text-align: left;
    margin-top: 30px;
}
.form > .radiobox > label {
    font-size: 130%;
    cursor: pointer;
}

.radiobox + div {
    margin-top: 30px;
    text-align: left;
}

.landing h3 {
    text-align: center;
}

.story-table {
    float: none;
    margin: 1rem auto 1rem auto;
}

.buttons {
    text-align: left;
    margin-top: 10px;
}

button.btn-overview {
    padding-left: 0;
}

.key {
    border: 1px #aeaeae solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #aeaeae;
    padding: 10px;
    margin-left: 10px;
}

.gamezone {
    clear: both;
    margin: 1rem;
    display: flex;
    align-content: start;
    justify-content: start;
    flex-wrap: wrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gamezone .gamer {
    padding: 1rem;
    border-radius: 5px;
}

.gamezone .gamer.its-me {
    background: #fff0f0;
    border: 1px solid #ffaaaa;
    width: 25rem;
}

.gamezone .gamer.its-me.ready {
    background: #f0fff0;
}

.gamezone .gamer.its-me img {
    cursor: pointer;
}

.gamezone img {
    width: 15rem;
    height: 22.5rem;
    border-radius: 10px;
}

.gamezone .card {
    position: relative;
}

.gamezone .controls {
    line-height: 22.5rem;
    padding: 10px;
    cursor: pointer;
}

.gamezone div {
    text-align: center;
}

.gamezone .buttons {
    padding: 0.5rem;
}

.gamezone .buttons button {
    width: 15rem;
}

.gamezone .btn-ready:hover {
    background: #498249;
    color: #ffffff;
}

.gamezone .user-name .glyphicon-ok {
    color: #498249;
}

.btn-preset-estimate {
    cursor: pointer;
}

.gamer > div {
    max-width: 22rem;
}

.flip-card {
    background-color: transparent;
    width: 15rem;
    height: 22.5rem;
    perspective: 1000px;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transition-delay: 0.3s;
    transform-style: preserve-3d;
}

.flip-card-inner.turn {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}

@media screen and (max-width: 800px) {
    .flip-card {
        width: 7.5rem;
        height: 11.25rem;
    }
    .gamezone img {
        width: 7.5rem;
        height: 11.25rem;
    }
    .gamezone .controls {
        line-height: 11.25rem;
    }
}

.panel-body .input-group {
    transition: opacity 300ms ease-in-out;
}

.notVisible {
    opacity: 0;
}

.dropzone.dragging {
    background-color: #fff4c6;
}

.importTable td {
    padding: 10px;
}

#import-modal .modal-dialog {
    width: 90%;
}
