body {
    padding: 10px;
    font-family: sans-serif;
}

.panel, .lead {
    margin-bottom: 10px;
}
.row {
    padding: 10px;
}

.form {
    text-align: center;
}

.form .input-group {
    margin-left: auto;
    margin-right: auto;
}

.landing h3 {
    text-align: center;
}

.story-table {
    float: none;
    margin: 1rem auto 1rem auto;
}

.buttons {
    text-align: left;
    margin-top: 10px;
}

button.btn-overview {
    padding-left: 0;
}

.gamezone {
    clear: both;
    margin: 1rem;
    display: flex;
    align-content: start;
    justify-content: start;
    flex-wrap: wrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gamezone .gamer {
    padding: 1rem;
    border-radius: 5px;
}

.gamezone .gamer.its-me {
    background: #fff0f0;
    border: 1px solid #ffaaaa;
    width: auto;
    transition: width 1s ease-out;
}

.gamezone .gamer.its-me img {
    cursor: pointer;
}

.gamezone img {
    width: 15rem;
    height: 22.5rem;
}

.gamezone .card {
    position: relative;
}

.gamezone .controls {
    line-height: 22.5rem;
    padding: 10px;
    cursor: pointer;
}

.gamezone div {
    text-align: center;
}

.gamezone .buttons {
    padding: 0.5rem;
}

.gamezone .buttons button {
    width: 15rem;
}

.gamezone .btn-ready:hover {
    background: #498249;
    color: #FFFFFF;
}

.gamezone .user-name .glyphicon-ok {
    color: #498249;
}
